* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
}
ul {
  padding: 0;
  margin: 0;
}
.a_container {
  width: 85%;
  padding: 15px 10px 0px 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.a_screen_view .a_left {
  width: 50%;
}
.a_left .a_nav_list {
  list-style: none;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.a_container .a_left ul li i {
  font-size: 10px;
}
.a_container .a_left ul li a {
  text-decoration: none;
}
.a_screen_view .a_container .a_right {
  width: 50%;
  display: flex;
  justify-content: end;
  gap: 10px;
}
.a_screen_view .a_container .a_right button {
  gap: 15px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
}

/* service section*/
.a_service {
  width: 35%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.a_service .a_service_box {
  cursor: pointer;
  width: 8%;
}
.a_service .a_service_box .a_icon {
  padding: 10px;
  border-radius: 50%;
  font-size: 16px;
}
.a_service .a_service_box h6 {
  font-size: 15px;
  padding: 10px;
  display: flex;
  justify-content: center;
}
/* car service banner */

.a_common_class {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.a_common_class .a_top_form {
  background: #481aa4;
  border-radius: 10px;
  margin-bottom: 30px;
}
.a_input_section {
  padding: 5px;
}
.a_input_section .a_input_box {
  background: white;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 18px 16px;
  margin: 15px;
  border-radius: 10px;
}
.a_input_section .a_input_box input {
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px;
}
.a_input_section .a_input_box button {
  border-radius: 10px;
  outline: none;
  font-weight: 600;
  border: none;
  padding: 7px 30px;
  background: #17b164;
}
.a_center_form .a_bottom_section {
  background: #481aa4;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  color: white;
}
.a_bottom_section .a_icon_car {
  background: #703bd9;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-radius: 10px;
}
.a_bottom_section button {
  border-radius: 10px;
  font-weight: 600;
  padding: 0px 1px;
  background: #481aa4;
  color: white;
  border: 1px solid;
  outline: none;
  padding: 0px 10px;
}
.a_service .a_icon.active{
  background: white !important;
  color: #000 !important;
}



